<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-lg-12 col-md-6">
                <div class="text-center">
                <h2 class=" card-title" ><i class="fas fa-door-open"></i>Ingreso al sistema</h2></div>
                    <div class="input-group mb-3">
                         <span 
                         class="input-group-text" 
                        id="basic-addon1">
                        <i class="fas fa-user"></i>
                    </span>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Username" 
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        [(ngModel)]="user"
                        >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" 
                        id="basic-addon1">
                        <i class="fas fa-key"></i>
                    </span>
                        <input type="password" 
                        class="form-control" 
                        placeholder="Password" 
                        aria-label="Password"
                        aria-describedby="basic-addon1"
                        [(ngModel)]="pass"
                        >
                    </div>
                    <div class="text-center">
                        <button class="btn btn-danger btn-lg"
                        (click)="comparar()">
                            Iniciar sesión
                        </button>
                        <div *ngIf="correcto==1"
                        class="alert alert-success 
                        animate__animated animate__bounceInLeft" 
                        role="alert">
                            Acceso correcto
                        </div>
                        <div *ngIf="correcto==0" 
                        class="alert alert-danger 
                        animate__animated animate__bounceInLeft" 
                        role="alert">
                            Nombre de usuario o contraseña incorrectos
                        </div>
                    </div>
                </div>
            </div>
