<div class=" content">
    <div class=" row">
      <div class=" col-md-10">
        <div class=" card">
          <div class=" card-header"><h4 class=" title"> Insertar Clientes</h4></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Cédula </label>
                    <input
                      [(ngModel)]="list.cedula"
                      class=" form-control"
                      placeholder="Cédula"
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-6 px-md-1">
                  <div class=" form-group">
                    <label> Teléfono </label>
                    <input
                    [(ngModel)]="list.telefono"
                      class=" form-control"
                      placeholder="Número de Teléfono"
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Nombre Completo </label>
                    <input
                    [(ngModel)]="list.nombreCliente"
                      class=" form-control"
                      placeholder="Nombre Cliente"
                      type="text"
                    />
                  </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label> Correo Electrónico </label>
                    <input
                    [(ngModel)]="list.correoElec"
                      class=" form-control"
                      placeholder="alguien@email.com"
                      type="email"
                    />
                  </div>
                </div>
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Dirección </label>
                    <input
                    [(ngModel)]="list.direccion"
                      class=" form-control"
                      placeholder="Dirección"
                      type="text"
                    />
                  </div>
                </div>
            </div>

			<div class="container-btn-group">

					<button type="button" class="btn btn-danger" >
						<i class="fas fa-plus-circle"></i> Crear
					</button>
					<button type="button" class="btn btn-danger" >
						<i class="fas fa-pen-alt"></i> Actualizar
					</button>
					<button type="button" class="btn btn-danger" (click)="consultaClientes()" >
						<i class="fas fa-search"></i> Consultar
					</button>
				</div>

        <div class=" col-md-12">
          <div class=" card">
              <div class=" card-header">
                  <h4 class=" card-title">Lista Clientes</h4>
              </div>
              <div class=" card-body">
                  <div class=" table-responsive">
                      <table class=" table tablesorter" id="">
                          <thead class=" text-primary">
                              <tr>
                                  <th class=" text-center">Cédula</th>
                                  <th class=" text-center">Nombre Completo</th>
                                  <th class=" text-center">Dirección</th>
                                  <th class=" text-center">Teléfono</th>
                                  <th class=" text-center">Correo Electrónico</th>
                                  <th class=" text-center">Editar</th>
                                  <th class=" text-center">Eliminar</th>
                              </tr>
                          </thead>
                          <tbody>


                              <tr *ngFor="let cliente of listaClientes">
                                  <td class=" text-center">{{cliente.cedula}}</td>
                                  <td class=" text-center">{{cliente.nombreCompleto}}</td>
                                  <td class=" text-center">{{cliente.direccion}}</td>
                                  <td class=" text-center">{{cliente.telefono}}</td>
                                  <td class=" text-center">{{cliente.correoElectronico}}</td>
                                  <td class=" text-center">
                                      <a [routerLink]="" (click)="editarCliente(cliente)">
                                          <i class="tim-icons icon-pencil"></i>
                                      </a>
                                  </td>
                                  <td class=" text-center">
                                      <a [routerLink]="" (click)="eliminarCliente(cliente)">
                                          <i class="tim-icons icon-simple-delete"></i>
                                      </a>
                                  </td>
                              </tr>


                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>





